.digital-watch {
  /*position: absolute;
  top: -110px;
  right: 0;
  left: -70px;
  margin: auto;
  display: flex; */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: flex;
}
.digital-watch .hour,
.digital-watch .minute,
.digital-watch .second {
  display: flex;
  justify-content: center;
  font-size: 0;

  position: absolute;
  width: 100%;
  height: fit-content;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.digital-watch .hour::before,
.digital-watch .hour::after,
.digital-watch .minute::before,
.digital-watch .minute::after {
  content: '';
  position: absolute;
  right: -40px;
  width: 10px;
  height: 10px;
  background-color: #fff;
}
.digital-watch .hour::before,
.digital-watch .minute::before {
  top: 120px;
}
.digital-watch .hour::after,
.digital-watch .minute::after {
  top: 160px;
}
.digital-watch svg {
  display: inline-block;
  margin: 20px;
}
.digital-watch svg .segment {
  fill: rgba(0, 0, 0, 0.07);
  transition: 0.3s ease-in-out;
}
.digital-watch svg.num-1 .b,
.digital-watch svg.num-1 .c,
.digital-watch svg.num-2 .a,
.digital-watch svg.num-2 .b,
.digital-watch svg.num-2 .d,
.digital-watch svg.num-2 .e,
.digital-watch svg.num-2 .g,
.digital-watch svg.num-3 .a,
.digital-watch svg.num-3 .b,
.digital-watch svg.num-3 .c,
.digital-watch svg.num-3 .d,
.digital-watch svg.num-3 .g,
.digital-watch svg.num-4 .b,
.digital-watch svg.num-4 .c,
.digital-watch svg.num-4 .f,
.digital-watch svg.num-4 .g,
.digital-watch svg.num-5 .a,
.digital-watch svg.num-5 .c,
.digital-watch svg.num-5 .d,
.digital-watch svg.num-5 .f,
.digital-watch svg.num-5 .g,
.digital-watch svg.num-6 .a,
.digital-watch svg.num-6 .c,
.digital-watch svg.num-6 .d,
.digital-watch svg.num-6 .e,
.digital-watch svg.num-6 .f,
.digital-watch svg.num-6 .g,
.digital-watch svg.num-7 .a,
.digital-watch svg.num-7 .b,
.digital-watch svg.num-7 .c,
.digital-watch svg.num-8 .a,
.digital-watch svg.num-8 .b,
.digital-watch svg.num-8 .c,
.digital-watch svg.num-8 .d,
.digital-watch svg.num-8 .e,
.digital-watch svg.num-8 .f,
.digital-watch svg.num-8 .g,
.digital-watch svg.num-9 .a,
.digital-watch svg.num-9 .b,
.digital-watch svg.num-9 .c,
.digital-watch svg.num-9 .d,
.digital-watch svg.num-9 .f,
.digital-watch svg.num-9 .g,
.digital-watch svg.num-0 .a,
.digital-watch svg.num-0 .b,
.digital-watch svg.num-0 .c,
.digital-watch svg.num-0 .d,
.digital-watch svg.num-0 .e,
.digital-watch svg.num-0 .f {
  fill: #fff;
}
.digital-watch svg.blue-1 .b,
.digital-watch svg.blue-1 .c,
.digital-watch svg.blue-2 .a,
.digital-watch svg.blue-2 .b,
.digital-watch svg.blue-2 .d,
.digital-watch svg.blue-2 .e,
.digital-watch svg.blue-2 .g,
.digital-watch svg.blue-3 .a,
.digital-watch svg.blue-3 .b,
.digital-watch svg.blue-3 .c,
.digital-watch svg.blue-3 .d,
.digital-watch svg.blue-3 .g,
.digital-watch svg.blue-4 .b,
.digital-watch svg.blue-4 .c,
.digital-watch svg.blue-4 .f,
.digital-watch svg.blue-4 .g,
.digital-watch svg.blue-5 .a,
.digital-watch svg.blue-5 .c,
.digital-watch svg.blue-5 .d,
.digital-watch svg.blue-5 .f,
.digital-watch svg.blue-5 .g,
.digital-watch svg.blue-6 .a,
.digital-watch svg.blue-6 .c,
.digital-watch svg.blue-6 .d,
.digital-watch svg.blue-6 .e,
.digital-watch svg.blue-6 .f,
.digital-watch svg.blue-6 .g,
.digital-watch svg.blue-7 .a,
.digital-watch svg.blue-7 .b,
.digital-watch svg.blue-7 .c,
.digital-watch svg.blue-8 .a,
.digital-watch svg.blue-8 .b,
.digital-watch svg.blue-8 .c,
.digital-watch svg.blue-8 .d,
.digital-watch svg.blue-8 .e,
.digital-watch svg.blue-8 .f,
.digital-watch svg.blue-8 .g,
.digital-watch svg.blue-9 .a,
.digital-watch svg.blue-9 .b,
.digital-watch svg.blue-9 .c,
.digital-watch svg.blue-9 .d,
.digital-watch svg.blue-9 .f,
.digital-watch svg.blue-9 .g,
.digital-watch svg.blue-0 .a,
.digital-watch svg.blue-0 .b,
.digital-watch svg.blue-0 .c,
.digital-watch svg.blue-0 .d,
.digital-watch svg.blue-0 .e,
.digital-watch svg.blue-0 .f {
  fill: #fff;
}
